* {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  position: relative;
  min-height: 600px;
}

.spacer {
  height: 20px;
}

.top-bar {
  text-align: right;
  padding: 0 30px;
  font-size: 13px;
  vertical-align: middle;
}

.top-bar a {
  line-height: 28px;
  vertical-align: middle;
  margin-left: 8px;
  color: #000;
  text-decoration: none;
}

.top-bar a:not(.sign-in):hover {
  text-decoration: underline;
}

.top-bar .apps {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url('https://ssl.gstatic.com/gb/images/i1_1967ca6a.png');
  background-size: 528px 68px;
  background-position: -132px -38px;
  opacity: .55;
}

.apps:hover {
  opacity: 1;
}

.top-bar .sign-in {
  color: #fff;
  border: 1px solid #4285f4;
  border-radius: 2px;
  font-weight: bold;
  outline: none;
  background: #4285f4;
  background: -moz-linear-gradient(top,#4387fd,#4683ea);
  display: inline-block;
  line-height: 28px;
  padding: 0 12px;
  cursor: default;
}

.center {
  width: 600px;
  margin: 100px auto;
  text-align: center;
}

.center img {
  display: inline-block;
  width: 272px;
  margin-bottom: 50px;
}

.input-bar {
  border: 1px solid #ddd;
  box-shadow: 0px 2px 4px -3px #666;
  width: 584px;
  height: 42px;
  vertical-align: top;
  transition: box-shadow .5s;
}

.input-bar:hover {
  box-shadow: 0px 2px 8px -3px #666;
}

.input-bar input[type="text"] {
  font: 16px Arial, sans-serif;
  line-height: 30px;
  height: 22px;
  width: 564px;
  border-left: 10px solid rgba(255, 0, 0, 0);
  border-right: 10px solid rgba(255, 0, 0, 0);
  border-top: 10px solid rgba(255, 0, 0, 0);
  border-bottom: 10px solid rgba(255, 0, 0, 0);
}

div.buttons {
  text-align: center;
  margin-top: 10px;
}

div.buttons input {
  background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
  -moz-border-radius: 2px;
  -moz-user-select: none;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #757575;
  cursor: default;
  font-family: arial,sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin: 11px 4px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  height: 36px;
  line-height: 20px
}

div.buttons input:hover {
  border-color: #999;
  color: #333;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 40px;
  background: #f2f2f2;
  color: rgba(0,0,0,.54);
  font-size: 15px;
}

.footer-bar {
  border: 1px solid rgb(228, 228, 228);
  border-bottom: 0;
  padding: 0px 20px;
}

.footer-bar a {
  font-size: small;
}

.footer-bar a:link, .footer-bar a.left:visited, .footer-bar a:hover, .footer-bar a:active{
  color: rgba(0,0,0,.54);
  text-decoration: none;
}

.footer-bar a:hover {
  text-decoration: underline;
}

.footer-bar .left {
  float: left;
}

.footer-bar .right {
  float: right;
}

.footer-bar * {
  padding: 0 10px;
}
